<mat-card>
  <mat-card-header>
    <mat-card-title>{{article?.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Autor:</mat-label>
      <input matInput disabled value="{{article?.user?.userName}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Date:</mat-label>
      <input matInput disabled value="{{article?.date}}">
    </mat-form-field>
    <br>
    <textarea cdkTextareaAutosize disabled>{{article?.body}}</textarea>
    <br>
    <label>Comments:</label>
    <div *ngFor="let comment of article?.comments">
      <mat-card-header>
        <mat-card-title>{{comment?.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <textarea cdkTextareaAutosize disabled>{{comment?.body}}</textarea>
      </mat-card-content>
    </div>
    <br>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Write a comment:</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5" formControlName="body" required></textarea>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button title="Make">
          <mat-icon svgIcon="check"></mat-icon>
        </button>
      </mat-card-actions>
    </form>
    <mat-card-actions>
      <button mat-icon-button title="Exit" (click)="exit()">
        <mat-icon svgIcon="cancel"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
